<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>OrgChart DDC</title>
    <link rel="stylesheet" href="/ddc/static/css/main.css" />
  </head>
  <body>
    <div id="root"></div>

    <script src="/ddc/libs/sas-visualanalytics-thirdpartyvisualizations/util/messagingUtil.js"></script>

    <!-- Your React app -->
    <script src="/ddc/static/js/main.js"></script>
  </body>
</html>
